.content {
  padding: 40px;

  h1 {
    font-weight: 700;
    font-size: 32px;
    color: #000;
  }

  @media (max-width: 600px) {
    padding: 20px;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  @media (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;

  @media (max-width: 900px) {
    flex-direction: column;
  }

  label {
    max-width: 250px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    overflow: hidden;

    display: flex;
    align-items: center;
    gap: 14px;
  }

  input {
    display: block;
    width: 100%;
    padding: 15px 0;

    font-weight: 400;
    font-size: 14px;

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      color: #c4c4c4;
    }
  }
}

.status {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  padding: 20px 0;
}

.favourites {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  padding: 100px 0;

  img {
    margin-bottom: 30px;
  }

  h2 {
    font-weight: 700;
    font-size: 24px;
    color: #000;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 40px;
  }

  button {
    min-width: 250px;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 14px;
      height: 12px;
      background-image: url("../../public/img/arrow.svg");
      background-position: center;
      background-size: contain;

      position: absolute;
      left: 30px;
      top: 50%;
      transform: translateY(-50%) rotate(180deg);

      transition: 0.3s;
    }

    &:hover {
      &::after {
        transform: translateX(-10px) translateY(-50%) rotate(180deg);
      }
    }
  }
}