.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;

  padding: 40px;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 40px;

  @media (max-width: 900px) {
    flex-direction: column;
  }

  @media (max-width: 600px) {
    padding: 20px;
    margin-bottom: 20px;
  }
}

.left a {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}

.title {
  display: flex;
  flex-direction: column;

  b {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #000;
  }

  span {
    font-weight: 400;
    font-size: 14px;
    color: #9d9d9d;
  }
}

.right {
  ul {
    display: flex;
    align-items: center;
    gap: 32px;

    @media (max-width: 600px) {
      flex-direction: column;
    }
  }

  li,
  li a {
    display: flex;
    align-items: center;
    gap: 10px;

    font-weight: 400;
    font-size: 14px;
    color: #5c5c5c;

    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }
}